@charset "UTF-8";
body {
margin : 0;
font-family : Helvetica, Arial, Sans-Serif;
font-size: 18px;
line-height: 25px;

}
header {
background-color : #d14635;
text-align : center;
padding-bottom : 80px;
padding-top : 50px;
}
h1, h2 {
 
font-family: 'Press Start 2P', sans-serif;
}


header h1 {
font-size: 55px;
color: white;
	
}

a{
	color: #e70c19;
}
a:hover{
	color: white;
	background-color: #483a94;
}



h2 {
	font-size: 30px;
	color: #e70c19;
}

main{
	max-width: 800px;
    padding: 20px;
	margin: 0 auto;
	
}
main img{
	max-width: 100%;
	
}

header img {
border-radius : 170px;
width : 300px;
border : #d15635 solid 20px;
}

footer {
    background-color: #d14635;
    text-align: center;
    color: aliceblue;
    padding:50px;
}

footer p{
	margin: 0;
}

p.caption{
	color:#999999;
}